body {
  background-color: oldlace;
}

hr {
  background-color: #DBD0C0;
  /* border-style: dotted; */
  border-style: dashed none none;
  /* border-color:#DBD0C0 ; */
  height: 0px;
  width: 500px;
}

img {
  height: 200px;
  width: 198px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
 }
/* ul{
  color: red; */


.circular
{
  border-radius: 50%;

}
